html{
    box-sizing: border-box;
}   
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto,sans-serif;
    color: #000; 
}
.container {
    margin: auto;
    text-align: center;
    background-image: url(img/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    text-shadow: 1px 1px 5px #333;
    margin-bottom: 20px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(141, 141, 141, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
    visibility: hidden;
    z-index: -1;
}
.modal {
    width: 50vw;
    height: 50vh;
    background: #fff;
}
.open-modal {
    visibility: visible;
    z-index: 0;
}
.open-button {
    background-color: aquamarine;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: #333;
    text-transform: uppercase;
    font-size: 17px;
    box-shadow: 1px 1px 5px rgba(0, 3, 51, 0.3);
    cursor: pointer;
}
.open-button:hover{
    background-color: #02ffaa;
    transform: scale(1.1);
}
.close-button {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: all linear 0.3s;
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: 10px;
}
.close-button:hover {
    opacity: 0.6;
}